{% extends 'base.html.twig' %}

{% block title %}Выгрузка JSON{% endblock %}

{% block body %}

<br>
<p>Получить список всех круизов можно по адресу <a href="/api/json/cruises">//rech-agent.ru/api/json/cruises</a></p>
<p>То же но в читаемом формате по адресу <a href="/api/json/cruises/pre">//rech-agent.ru/api/json/cruises/pre</a></p>
<br>

<p>Описание и цены конкретного круиза: <a href="/api/json/kauta/3119">//rech-agent.ru//api/json/kauta/3119</a> </p>
<p>То же но в читаемом формате: <a href="/api/json/kauta/3119/pre">//rech-agent.ru//api/json/kauta/3119/pre</a></p>

{% endblock %}				