


	<div style="margin:0 auto; width:700px; border:1px solid #eee;">
		<div id="header" style="width:100%;  height:130px; position:relative;  background: #EAA145;" >
			<a href="http://rech-agent.ru"><img style="position:absolute; top:10px; left:10px;" src="http://rech-agent.ru/web/mail/img/logo.png" alt=""></a>
			<div style="width:45%; height:100%; float:right; color:#fff;">
				<p>ПЕРВЫЙ СПЕЦИАЛИЗИРОВАННЫЙ</p>
				<p>ЦЕНТР РАСПРОДАЖ РЕЧНЫХ</p>
				<p>КРУИЗОВ ПО РОССИИ</p>
			</div>
		</div>


{% block body %}дефолтное тело{% endblock %}


		<div id="footer" style="padding:15px;">
			<hr style="border-color:#ccc;">
			<div style="color:#EAA145;">
				<p style="text-align:center;">109012,  г. Москва, ул. Никольская, дом 4/5, офис 403</p>
				<p style="text-align:center;">Тел: (495) 649-83-71;  (495) 698-29-67; e-mail: info@rech-agent.ru; www.rech-agent.ru</p>
			</div>
		</div>
	</div>
