body {

}

footer {
	margin:50px 0;
	
}


.img-portfolio {
	margin-bottom:30px;
}

.navbar {
	margin-bottom:0px !important;
}

.navbar-brand.center {
	left:50%;
	margin-left:-100px;
	position:absolute;
}