body {

}

footer {
	margin:50px 0;
	
}


.img-portfolio {
	margin-bottom:30px;
}

.navbar {
	margin-bottom:0px !important;
}

.navbar-brand.center {
	left:50%;
	margin-left:-100px;
	position:absolute;
}

h1 {
	font-size: 30px !important;
}
h2 {
	font-size: 24px !important;
}
h3{
	font-size: 20px !important;
}
h4 {
	font-size: 16px !important;
}
h5{
	font-size: 14px !important;
}