{% extends 'MailBundle::base_mail.html.twig' %}


{% block body %}


		
		<div id="content" style="padding:15px;">
			<p><b>Добрый день, уважаемые коллеги!</b></p>
			<p>Предлагаем Вашему вниманию широко известный и востребованный на рынке туристический продукт – <b>российские речные круизы -  на специальных условиях</b>. Наша компания является генеральным партнером крупнейшего российского оператора круизов «ВодоходЪ», и мы имеем возможность предложить Вам речные <b>туры со скидкой до 20%</b> от их номинальной цены, при этом <b>размер Вашего агентского вознаграждения составит 10%</b>.</p>
			<p>У вас есть клиент, который хочет сэкономить на путешествии и требует скидку? Выход есть – актуальные специальные предложения на «Счастливые круизы» со скидкой 20%. Счастливый круиз – счастливый клиент!</p>
			<p>Выбирая сотрудничество «Речным Агентством» вы получаете:</p>
			<ul>
				<li>эксклюзивные ценовые предложения на круизы по России;</li>
				<li>гарантированное качество турпродукта;</li>
				<li>доступ к онлайн системе бронирования и оплаты туров 24/7;</li>
				<li>возможность выгрузки всех специальных предложений на Ваш интернет-портал.  </li>
			</ul>

			<br>
			<p>С уважением и надеждой на плодотворное сотрудничество,<br>
				Ваше «Речное Агентство»
			</p>
		</div><!--#content-->
		<img src="http://rech-agent.ru/web/mail/img/1-bottom.jpg" alt="">

	
{% endblock %}
