{% extends 'base.html.twig' %}

{% block title %}
	{% if (category.description is defined)  %}
		{{category.description}}
	{% else %}	
		{{category.title}}
	{% endif %}
{% endblock %}

{% block body %}
<h1>{{category.title}}</h1>


{% for cruises_month in cruises_months %}
	<h3>{{cruises_month.name}}</h3>

	

{% include 'BaseBundle:Cruise:table_cruises.html.twig'  with {'cruises':cruises_month.row} %}
	
	
{% endfor %}
	
{% endblock %}	