{% extends 'base.html.twig' %}

{% block title %}Круизы и речные туры из {{placeStart}}{% endblock %}

{% block body %}
<h1>Круизы из {{placeStart}}</h1>
<br>

{% for cruises_month in cruises_months %}
	
	<div class="row">
		<div class="col-xs-6"><h3>{{cruises_month.name}}</h3></div>
		<div class="col-xs-6"></div>
	</div>
	
	

	

{% include 'BaseBundle:Cruise:table_cruises.html.twig'  with {'cruises':cruises_month.row} %}
	
	
{% endfor %}



{% endblock %}